*{
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

#logo{
    font-size:x-large;
}

header{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0 2%; */
    z-index: 99;
    /* height: 2vh; */
    /* position:fixed;
    top: 0; */
    width: 100%;
    /* border: 1px solid; */
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;


}

#fix{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#anchorDiv{
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.link{
    color: black;
    font-family:fangsong;
    font-weight: 800;
    font-size: large;
    text-decoration: none;
}


/* about section */
.hero-img{
    webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url(/Images/photo.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 17rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 18rem;
}

@keyframes morph{
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}


main{
    /* position: absolute; */
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;

}

main div{
    width: 80%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.hero-text{
    display: flex;
    flex-direction: column; 
    /* height: 5; */
    padding: 0 2%;
    width: 45%;
    height: 100%;
    justify-content: flex-start;
    /* line: gap 2%; */
}

.hero-text h1{
    font-size: 5vw;
    margin-bottom: 4%;
}

.hero-text p{
    margin-bottom: 4%;
}



#hey{
    width: 7%;
}
#tech-stack{
    display: flex;
    align-items: center;
}

#tech-stack img,
#tech-stack hr{
    margin-left: 2%;
    transition: 300ms ease-in-out;
}
#tech-stack h1{
    font-size: larger;
}

#tech-stack hr{

    color: black;
    width: 4%;
    rotate: 90deg;
    border: 1px solid;
    
}

#tech-stack-parent{
    display: flex;
    justify-content: flex-start;
    /* width: 50%; */
    
}

#tech-stack img:hover{
    /* transform: translate(x-large); */
    /* background-color: black; */
    transform: translateY(-10px);
}